---
const { website } = Astro.props;

---

<article title={website.title} class={website.side}>
    <a href={website.link} target="_blank"><img src={website.img} alt={website.title}></img></a>
    <!-- <h3>{website.title}</h3> -->
</article>

<style>
    article{
        /* border: 1px solid white; */
        color: var(--color-accent);
        border-radius: 50px;
        border: 0px solid var(--color-accent);
        height: 12rem;
        width: 12rem;
        margin: 0 auto;
        transition: all 0.4s linear(0, 0.489 7.8%, 0.859 16%, 1.002 20.3%, 1.115 24.7%, 1.203 29.3%, 1.265 34.1%, 1.295 38%, 1.311 42%, 1.313 46.2%, 1.301 50.8%, 1.249 59.4%, 1.102 76.8%, 1.048 84.3%, 1.011 92.2%, 1);
    }

    article:hover{
        transform: scale(112%);
        border: 8px solid var(--color-accent);
    }

    .left::after{
        content: attr(title);
        padding: 5px 0px;
        font-size: 20px;
        vertical-align: center;
        font-weight: 400;
        transition: padding 0.5s ease-out;
    }

    .left:hover:after {
        opacity: 100%;
        padding: 5px 30px;
        font-size: 48px;
        font-weight: 700;
        /* border: solid 1px #ddd; */
        position: absolute;
        top: 30%;
        right: 100%;
    }

    .right::after{
        content: attr(title);
        padding: 5px 0px;
        font-size: 20px;
        vertical-align: center;
        font-weight: 400;
        transition: padding 0.5s ease-out;
    }

    .right:hover:after {
        opacity: 100%;
        padding: 5px 30px;
        font-size: 48px;
        font-weight: 700;
        /* border: solid 1px #ddd; */
        position: absolute;
        top: 30%;
        left: 100%;
    }

    img{
        border-radius: 40px;
        width: fit-content;
    }
</style>